@mixin flexBox-all-center-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexBox-all-center-vertical{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@mixin flexBox($direction: row, $alignmentJustify: center, $alignmentItems: center){
    display: flex;
    justify-content: $alignmentJustify;
    align-items: $alignmentItems;
    flex-direction: $direction;
}
@mixin gridBox($columns: 1, $gap: 0, $width: 1fr){
    display: grid;
    grid-template-columns: repeat($columns, $width);
    gap: $gap;
    place-content: center;
    place-items: center;
}