@import './mixin.scss';
.home{
    #searchData {
        width: 100%;
        height: 100%;
        @include flexBox-all-center-horizontal;
        #searchForm{
            width: 90%;
            max-width: 720px;
            margin: 0 auto;
            @include flexBox-all-center-horizontal;
            input{
                width: 100%;
                height: 60px;
                border: solid 1px #eeeeee;
                outline: 0;
                padding: 0 30px;
                font-size: 1rem;
            }
            button[type=submit]{
                @include flexBox-all-center-horizontal;
                width: 80px;
                height: 60px;
                border: none;
                outline: 0;
                background: #03A84E;
                svg{
                    width: 18px;
                    color: white;
                    font-size: 1rem;
                    font-weight: 800;
                }
            }
        }
    }
    
    #listOfCategory{
        width: 90%;
        max-width: 1280px;
        margin: 40px auto;
        min-height: 600px;
        background: #FAFAFA;
        padding: 20px;
        @include gridBox(3, 20px);
        .categoryItem{
            width: 100%;
            background: #ffffff;
            padding: 10px 0;
            @include flexBox-all-center-vertical;
            .itemIcon{
                img{
                    width: 50px;
                }
            }
            .itemTitle{
                font-size: 1rem;
                text-align: center;
            }
            .itemNoArticle{
                font-size: smaller;
            }
            .itemDate{
                font-size: smaller;
            }
        }
    }
}